{% extends 'shared/base.html' %} {% block content %}

<h1>Libraries List</h1>

{% if library.id is not None %}
<form action="{% url 'libraryapp:library' library.id %}" method="post">
  {% else %}
  <form action="{% url 'libraryapp:libraries' %}" method="post">
    {% endif %} {% csrf_token %}
    <fieldset>
      <label for="title">Title: </label>
      <input id="title" type="text" name="title" value="{{ library.title }}" />
    </fieldset>
    <fieldset>
      <label for="address">Address: </label>
      <input
        id="address"
        type="text"
        name="address"
        value="{{ library.address }}"
      />
    </fieldset>
    <input type="submit" value="Add It" />

    {% if library.id is not None %}
    <input type="hidden" name="actual_method" value="PUT" />
    <input type="submit" value="Update" />
    {% else %}
    <input type="submit" value="Create" />
    {% endif %}
  </form>
</form>
{% endblock %}
